/* src/App.css */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top: 60px; /* Add a larger top padding */
  min-height: 100vh;
  background-color: #121212;
  color: #ffffff;
}

h6 {
  font-weight: 500;
  color: #f05454;
}

button {
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #54f0e8; /* Distinct color on hover */
  color: #ffffff;
}

.card-content {
  margin-bottom: 16px;
}

.task-list {
  width: 100%;
  max-width: 600px;
}

.form-container {
  margin-bottom: 24px;
  width: 100%;
  max-width: 600px;
}
